// Cutoffs 768, 1280 and 1600

// Mobile only
@media (max-width: 767px) {
    .show-for-tablet-only, .show-for-tablet-up, .show-for-desktop-only, .show-for-desktop-up, .show-for-wide-only, .show-for-wide-up {
      display: none;
    }
  }
  
  // Tablet only
  @media (min-width: 768px) and (max-width: 1279px) {
    .show-for-mobile-only, .show-for-desktop-only, .show-for-desktop-up, .show-for-wide-only, .show-for-wide-up {
      display: none;
    }
  }
  
  // Desktop only
  @media (min-width: 1280px) and (max-width: 1599px) {
    .show-for-mobile-only, .show-for-tablet-only, .show-for-wide-only, .show-for-wide-up {
      display: none;
    }
  }
  
  // Wide only
  @media (min-width: 1600px) {
    .show-for-mobile-only, .show-for-tablet-only, .show-for-desktop-only {
      display: none;
    }
  }