.lcdChar {
  &[data-value="1"],&[data-value="4"] {
    .lcd1 {
      display: none;
    }
  }
  &[data-value="1"],&[data-value="2"],&[data-value="3"],&[data-value="7"] {
    .lcd2 {
      display: none;
    }
  }
  &[data-value="5"],&[data-value="6"] {
    &.lcd3 {
      display: none;
    }
  }
  &[data-value="2"] {
    &.lcd4 {
      display: none;
    }
  }
  &[data-value="1"],&[data-value="4"],&[data-value="7"],&[data-value="9"] {
    &.lcd5 {
      display: none;
    }
  }
  &[data-value="1"],&[data-value="3"],&[data-value="4"],&[data-value="5"],&[data-value="7"],&[data-value="9"] {
    &.lcd6 {
      display: none;
    }
  }
  &[data-value="0"],&[data-value="1"],&[data-value="7"] {
    &.lcd7 {
      display: none;
    }
  }
}